#include <windows.h>

101 ICON "resources/d1hellforge.ico"

1 VERSIONINFO
 FILEVERSION 0,3,0,0
 PRODUCTVERSION 0,3,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "D1Hellforge Project\0"
            VALUE "FileDescription", "D1Hellforge Diablo Save Editor\0"
            VALUE "FileVersion", "0.3.0\0"
            VALUE "InternalName", "D1Hellforge\0"
            VALUE "OriginalFilename", "D1Hellforge.exe\0"
            VALUE "ProductName", "D1Hellforge\0"
            VALUE "ProductVersion", "0.3.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
